<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <remove fileExtension=".resources" />
                    <remove fileExtension=".config" />
                    <add fileExtension=".config" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <handlers accessPolicy="Read">
        </handlers>
        <staticContent>
            <mimeMap fileExtension=".resources" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".bat" mimeType="text/plain" />
            <mimeMap fileExtension=".lab" mimeType="text/plain" />
            <mimeMap fileExtension=".bak" mimeType="text/plain" />
            <mimeMap fileExtension=".addin" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>
