<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ivtest" type="FanHai.MES.IVTest.Configuration.IVTestConfigurationSection,FanHai.MES.IVTest.BLL"></section>
  </configSections>
  <connectionStrings>
    <!--ACCESS数据库连接字符串
        Microsoft.Jet.OleDb.4.0
        Microsoft.ACE.OLEDB.12.0
    -->
    <add name="ACCESS_STRING" connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source={0}"/>
    <!--SQL SERVER数据库连接字符串-->
    <add name="SQLSERVER_STRING" connectionString="server=.;uid=sa;pwd=tianen;database=FanHaiMES"/>
  </connectionStrings>
  <appSettings>
    <!--获取数据的时间间隔：毫秒-->
    <add key="SLEEP_TIME" value="1000"/>
  </appSettings>
  <ivtest>
    <devices>
      <!--
        <add name="【必选】设备标识符" 
            path="【必选】设备测试数据所在文件夹路径"  
            type="【必选】设备类型 SunData,Results" 
            format="【可选】设备测试数据文件的格式化字符串。有一个参数代表时间,例如：PRINT_{0:yyyyMMdd}.mdb"/>
      -->
      <add name="SunData" path="E:\SunData" type="SunData" format="{0:yyyy-MM-dd}.mdb"/>
      <!--<add name="SunData" path="E:\SunData" type="Results" format="yyyy-MM-dd.mdb"/>-->
    </devices>
  </ivtest>
</configuration>