<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ivtest" type="Astronergy.MES.IVTest.Configuration.IVTestConfigurationSection,Astronergy.MES.IVTest.BLL"></section>
  </configSections>
  <connectionStrings>
    <!--ACCESS数据库连接字符串
        Microsoft.Jet.OleDb.4.0
        Microsoft.ACE.OLEDB.12.0
    -->
    <add name="ACCESS_STRING" connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source={0}"/>
    <!--SQL SERVER数据库连接字符串-->
    <add name="SQLSERVER_STRING" connectionString="server=10.20.50.180;uid=sa_mes;pwd=#*c123;database=AMES"/>
  </connectionStrings>
  <appSettings>
    <!--对应的服务名称-->
    <add key="SERVICE_NAME" value="IVTestDataTransfer"/>
  </appSettings>
  <ivtest>
    <devices>
      <!--
        <add name="【必选】设备标识符" 
                path="【必选】设备测试数据所在文件夹路径"  
                type="【必选】设备类型 SunData,Results" 
                format="【可选】设备测试数据文件的格式化字符串。有一个参数代表时间,例如：PRINT_{0:yyyyMMdd}.mdb"/>
      -->
      <add name="SunData1" path="E:\Astronergy\AMES\Module\trunk\docs\参考文件\IV\SunData" type="SunData" format="{0:yyyy-MM-dd}.mdb"/>
      <add name="Results1" path="E:\Astronergy\AMES\Module\trunk\docs\参考文件\IV\Results" type="Results"/>
    </devices>
  </ivtest>
</configuration>
