<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="astronergy.mes.tools">
      <section name="autoupdate" type="Astronergy.MES.Tools.AutoUpdate.Configuration.AutoUpdateSection,AutoUpdate"></section>
    </sectionGroup>
  </configSections>
  <astronergy.mes.tools>
    <autoupdate>
      <!--
      忽略文件集合，可以在这里添加自定义的忽略文件。
      <ignoreFiles>
        <add name="文件的相对于工作目录的路径。"/>
      </ignoreFiles>
      -->
      <ignoreFiles>
        <add name="AutoUpdate.exe.config"/>
        <add name="AutoUpdate.exe.config.bak"/>
        <add name="AutoUpdate.exe"/>
        <add name="autoupdate.exe"/>
        <add name="autoupdate.exe.config"/>
        <add name="Autoupdate.exe"/>
        <add name="autoupdate.xml"/>
        <add name="Autoupdate.xml"/>
        <add name="CreateAutoUpdateXml.bat"/>
        <add name="AMESClient NoUpdate.bat"/>
        <add name="Settings\RemoteAPIServer.xml"/>
        <add name="Settings\SolarViewerFrameworkProperties.xml"/>
        <add name="AutoUpdateUI.exe.config.bak"/>
        <add name="AutoUpdateUI.exe"/>
        <add name="AutoUpdateUI.exe.config"/>
      </ignoreFiles>
    </autoupdate>
  </astronergy.mes.tools>
</configuration>