<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <runtime>
    <gcConcurrent enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes"/>
      <probing privatePath="Libs"/>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="disableBGPrecompilation" value="True"/>
    <add key="EngineService" value="RemoteAPIServer.xml"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="AutoTrackTime" value="60000"/>
  </appSettings>
  <connectionStrings>
    <add name="SQLServer" connectionString="Server=localhost;User ID=sa;Password=coreI5; Database=MES" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <dataConfiguration defaultDatabase="SQLServer">
  </dataConfiguration>

  <log4net>
    <appender name="ErrorFile" type="log4net.Appender.RollingFileAppender">
      <file value="Log\\WipJobAutoTrackServicesError.log"></file>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maximumFileSize value="1MB"/>
      <maxSizeRollBackups value="200"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"></conversionPattern>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>

    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="Log\\WipJobAutoTrackServices.log"></file>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maximumFileSize value="1MB"/>
      <maxSizeRollBackups value="200"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"></conversionPattern>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="INFO"/>
      </filter>
    </appender>
    <root>
      <level value="ALL"/>
      <!-- Here you can configure which log appenders should be used -->
      <appender-ref ref="ErrorFile"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
